In [1]:
import pandas as pd

dataset=pd.read_csv('dataFeb-24-2021.csv',encoding = "ISO-8859-1",sep = ',')

In [2]:
dataset.head()

,lattitude,longitude,Direction,Speed,startjunction,endjunction
0,-40.33558,55.01337,from,67,Timon,Tando Allahyar
1,-5.38348,-88.56949,from,73,Kashmore,Cap-Rouge
2,-63.69830,-20.80947,from,27,Sherani,MatarÃ³
3,-66.68230,-10.24431,from,47,Wandsworth,Birmingham
4,82.20492,45.92146,from,27,Ciudad Santa Catarina,TomaszÃ³w Mazowiecki

In [3]:
dataset.loc[0]

lattitude              -40.3356
longitude               55.0134
Direction                  from
Speed                        67
startjunction             Timon
endjunction      Tando Allahyar
Name: 0, dtype: object

In [4]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0
def calculateNearby(data):
    
    lat1 = radians(data[0])
    lon1 = radians(data[1])
    lat2 = radians(data[2])
    lon2 = radians(data[3])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    print("Result:", distance)
    return distance
    
datalist=[dataset.loc[0]['lattitude'],dataset.loc[0]['longitude'],dataset.loc[1]['lattitude'],dataset.loc[1]['longitude']]
calculateNearby(datalist)

Result: 13721.90528995001

13721.90528995001

In [5]:
nearbylist=[]
for il in range(len(dataset)-1):
    datalist=[dataset.loc[il]['lattitude'],dataset.loc[il]['longitude'],dataset.loc[il+1]['lattitude'],dataset.loc[il+1]['longitude']]
    resultobtained=calculateNearby(datalist)
    if int(resultobtained)<10000:
        nearbylist.append(str(il)+","+str(il+1))

Result: 13721.90528995001
Result: 8393.276050187267
Result: 593.2312806452937
Result: 16866.432232972227
Result: 6481.85321889108
Result: 4692.566125541863
Result: 1186.2193962471888
Result: 15638.473589406854
Result: 9423.919232065444
Result: 10162.98917140089
Result: 1409.0415282579938
Result: 7326.503232685384
Result: 10450.864073227885
Result: 3025.3497296924124
Result: 10503.7663424766
Result: 16852.46334834994
Result: 7902.146813510391
Result: 15044.951394682706
Result: 15633.170214922731
Result: 14059.63235412491
Result: 6969.042056223138
Result: 5585.774799779828
Result: 4015.490756872385
Result: 18106.652189002874
Result: 2323.5743018274507
Result: 8317.521194952877
Result: 12808.695636837892
Result: 15019.49960733899
Result: 16321.500621671123
Result: 5987.90500526573
Result: 5741.730841967623
Result: 11224.629545905327
Result: 15617.286216839515
Result: 7973.217570973104
Result: 6657.787453371722
Result: 2637.2184106828986
Result: 502.00509297118646
Result: 2605.4291277425077
Result: 13146.444200220834
Result: 9068.44038068191
Result: 12132.37009682071
Result: 14684.012955490074
Result: 10300.095032984555
Result: 10402.718578877173
Result: 6982.5930286164385
Result: 9070.936270640279
Result: 4246.288495193347
Result: 16588.298678602
Result: 15545.849258783213
Result: 12960.572130142078
Result: 6348.9245091020575
Result: 8914.501326377818
Result: 13494.653882773468
Result: 5760.378556307909
Result: 18471.39260916768
Result: 12871.136728492756
Result: 13179.421752746866
Result: 16703.461555734244
Result: 13857.528663151661
Result: 13680.555254703964
Result: 15132.297246128517
Result: 10331.290590208926
Result: 2152.676776173314
Result: 1763.6652466934265
Result: 8750.614758194812
Result: 10292.33673376528
Result: 11158.825010170482
Result: 6687.619497229136
Result: 7329.337440531952
Result: 11758.51098191116
Result: 17226.891794404768
Result: 8100.408525748375
Result: 4382.027949162246
Result: 15934.85583272569
Result: 18317.353664909664
Result: 4793.124426275201
Result: 15219.365731400025
Result: 15771.583875836923
Result: 5685.5446066695695
Result: 11484.298027341973
Result: 12188.874175114823
Result: 8360.705641047543
Result: 16335.035691926887
Result: 11709.480646180986
Result: 7552.789276930536
Result: 3436.2905452386544
Result: 16939.10425285466
Result: 250.2159276279981
Result: 1950.2325426296934
Result: 4833.175097886763
Result: 9420.039391693177
Result: 5409.138587848363
Result: 6287.647003402651
Result: 12561.84858671305
Result: 18074.15429755394
Result: 7271.575268479819
Result: 18538.823335340112
Result: 11517.684070431264
Result: 8519.857631187673

In [6]:
nearbylist

['1,2',
 '2,3',
 '4,5',
 '5,6',
 '6,7',
 '8,9',
 '10,11',
 '11,12',
 '13,14',
 '16,17',
 '20,21',
 '21,22',
 '22,23',
 '24,25',
 '25,26',
 '29,30',
 '30,31',
 '33,34',
 '34,35',
 '35,36',
 '36,37',
 '37,38',
 '39,40',
 '44,45',
 '45,46',
 '46,47',
 '50,51',
 '51,52',
 '53,54',
 '62,63',
 '63,64',
 '64,65',
 '67,68',
 '68,69',
 '71,72',
 '72,73',
 '75,76',
 '78,79',
 '81,82',
 '84,85',
 '85,86',
 '87,88',
 '88,89',
 '89,90',
 '90,91',
 '91,92',
 '92,93',
 '95,96',
 '98,99']

In [6]:
data='the vehicle id that are near to each other'
print(data,nearbylist)

NameError: name 'nearbylist' is not defined

In [8]:
lengthofneighbourhoodvehicles=len(nearbylist)

print("lengthofneighbourhoodvehicles",lengthofneighbourhoodvehicles)

lengthofneighbourhoodvehicles 49

In [4]:
testcount=[49,90,100,105,250,350,400,509]

if (all(i < j for i, j in zip(testcount, testcount[1:]))):
    print("Yes congestion is going to occur")
else:
    print("No congestion will not occur")

Yes congestion is going to occur